.animation{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    align-content: center;
    
    padding: 20px;
    height: 100vh;
    width: 100vw;
    z-index: 10000;

    &__title{
        font-family: 'Overpass';
        font-size: 2rem;
        position: absolute;
        top: 150px;
        left: 75px;
    }

    &__clip{
        height: 100%;
    }

}
